a {
    text-decoration: auto !important;
}

#logo {
    margin-right: auto;
    max-height: 60px;
}

#logo img {
    max-height: 60px;
}

.logo-sm {
    width: 149px;
    height: 135px;
}

.logo-md {
    width: 299px;
    height: 278px;
}

.banner-logo {
    background-image: url("../img/logo/Logo@1x-Sem-nome-ou-slogan.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    z-index: 0;
}

.banner-logo-sm {
    right: -1%;
    bottom: -5%;
}

.banner-logo-md-1 {
    left: -2%;
    top: 10%;
}

.banner-logo-md-2 {
    right: -5%;
    bottom: -20%;
}

.banner-logo-xxl-1 {
    left: 10%;
    top: 10%;
}

.banner-logo-xxl-2 {
    right: 10%;
    bottom: -20%;
}

.carousel-item .row {
    min-height: 600px;
}

.thumb {
    width: 160px;
    height: 160px;
    object-fit: cover;
}

.circle {
    border-radius: 100%;
}

.profile-pic {
    height: 200px;
    width: 200px;
}

.footer-logo {
    height: auto;
    width: 50px;
}

.bi-facebook {
    color: #3B5998;
}

.bi-instagram {
    color: #FD1D1D;
}
